annotated-types==0.6.0
anyio==4.1.0
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
decorator==4.4.2
distro==1.8.0
Django==4.2.7
filelock==3.13.1
fsspec==2023.12.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
imageio==2.33.0
imageio-ffmpeg==0.4.9
Jinja2==3.1.2
llvmlite==0.41.1
MarkupSafe==2.1.3
more-itertools==10.1.0
moviepy==1.0.3
mpmath==1.3.0
networkx==3.2.1
numba==0.58.1
numpy==1.26.2
openai==1.3.9
openai-whisper==20231117
packaging==23.2
Pillow==10.1.0
pip-review==1.3.0
proglog==0.1.10
psycopg2-binary==2.9.9
pydantic==2.5.2
pydantic_core==2.14.5
python-decouple==3.8
python-magic==0.4.27
regex==2023.10.3
requests==2.31.0
sniffio==1.3.0
sqlparse==0.4.4
sympy==1.12
tiktoken==0.5.2
torch==2.1.1
tqdm==4.66.1
typing_extensions==4.8.0
urllib3==2.1.0
