<!DOCTYPE html>
<html>
<head>
    <title>Upload Media</title>
    {% if video_id %}
    <meta http-equiv="refresh" content="30">
    {% endif %}
</head>

<p><a href="{% url 'view_transcripts' %}"><button type="button">View Transcripts</button></a></p>
<p><a href="{% url 'add_transcript' %}"> <button>Add New Transcript Manually</button></a></p>


<body>
    <h1>Upload a File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    {% if video_id %}
    <p>Processing video with ID: {{ video_id }}. Please wait...</p>
    {% endif %}
</body>
</html>
